body {
    margin: 0;
    font-family: "Iosevka Charon", monospace;
    background: linear-gradient(to right, #111827, #1b253d);
    scroll-behavior: smooth;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.10);
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #111827, #1b253d);
    /* z-index: 1000; */
}

.logo {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.navigation a:hover {
    color: #45629e;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 127px 0 0 0;
}

.hero img {
    box-shadow: 10px 10px 10px #1b253d;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-content p {
    max-width: 600px;
    line-height: 1.6;
    color: #fff;
    text-align: left;
}

.hero-content button {
    padding: 10px 20px;
    border: none;
    background: #273859;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button:hover {
    background: #45629e;
    transform: translateY(-2px);
}

.dashboard {
    height: 600px;              
    display: flex;
    justify-content: center;
    align-items: flex-start;         
    padding-top: 80px;
}

.dashboard h1 {
    color: rgb(229, 223, 223);
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: auto;
}